
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type=file] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload IMG';
  font-family: 'MuseoModerno', cursive;
  display: inline-block;
  background: #45a049;
  border-radius: 3px;
  padding: 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: #64d46a;
}



.btn {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'MuseoModerno', cursive;
  font-size: 22px;
}

.btn:hover {
  background-color: #45a049;
}

.classdiv {
  border-radius: 5px;
  background-color: #7cd3b2c2;
  padding: 20px;
}

.result{
  font-size: 30px;
  padding: 8px;
  font-family: 'MuseoModerno', cursive;

}

.loader {
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #e95656;
  text-align: center;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}